/* Criando o topo do site */
#topo{
    width: 100%;
    height: 100%;
    border: 1px solid black;
    background-color: #1673be;
    color: #ffffff;
}
/* Altera o corpo do site */
body{
    background-color:cornsilk;
}

h1{
    text-align: center;
}

#divmenu{
    text-align: center;
    width: 100%;
    height: 100%;
    border: 1px solid black;
    text-transform: uppercase;
}

li{
    display: inline;
    
}
li a {
    text-decoration: dashed;
    padding-left: 5%;
}
ul li a:hover{
  
   
    background-color: coral;
   
}
p{
    text-align:center;
    font-size: 16px;
}